<div class="container scroll-container-small">
    <div class="page-form">
        <image src="/xsgz/assets/images/angular.png" />
        <h1 class="font-ht" translate="MESSAGES.RESET_PASSWORD_UPPER"></h1>
        <div class="form-container">
            <form class="form" name="resetPasswordForm" ng-submit="login(resetPasswordForm.$valid)" novalidate>
                <div class="form-group">
                    <input type="password"
                           class="form-control input-lg"
                           ng-attr-placeholder="{{phrases['MESSAGES.OLD_PASSWORD_PLACEHOLDER']}}"
                           name="oldpassword"
                           required
                           ng-model="user.oldPassword"
                           ng-change="onChanged()"
                            >

                    <i class="fa fa_ie fa-check success-validation-check"
                       ng-show="resetPasswordForm.password.$valid && !resetPasswordForm.password.$pristine"></i>
                    <i class="fa fa_ie fa-times error-validation-close"
                       ng-show="resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine"
                       data-tooltip-placement="bottom">
                    </i>

                    <p ng-show="resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine">
                        <span class="modal-error" translate="ERROR_MESSAGES.PASSWORD_NEEDED"></span>
                    </p>

                </div>
                
                <div class="form-group">
                    <input type="password"
                           class="form-control input-lg font-ht"
                           ng-attr-placeholder="{{phrases['MESSAGES.PASSWORD_PLACEHOLDER']}}"
                           name="password"
                           required
                           ng-model="user.password"
                           ng-change="onChanged()"
                            >

                    <i class="fa fa_ie fa-check success-validation-check"
                       ng-show="resetPasswordForm.password.$valid && !resetPasswordForm.password.$pristine"></i>
                    <i class="fa fa_ie fa-times error-validation-close"
                       ng-show="resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine"
                       data-tooltip-placement="bottom">
                    </i>

                    <p ng-show="resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine">
                        <span class="modal-error" translate="ERROR_MESSAGES.PASSWORD_NEEDED"></span>
                    </p>

                </div>

                <div class="form-group">
                    <input type="password"
                           class="form-control input-lg"
                           ng-attr-placeholder="{{phrases['MESSAGES.CONFIRM_PASSWORD_PLACEHOLDER']}}"
                           name="confirmPassword"
                           required
                           ng-change="onChanged()"
                           ng-model="user.confirmPassword"
                           pwd-check="password" >

                    <i class="fa fa_ie fa-check success-validation-check"
                       ng-show="resetPasswordForm.password.$valid && !resetPasswordForm.password.$pristine && !resetPasswordForm.confirmPassword.$error.pwdMatch"></i>
                    <i class="fa fa_ie fa-times error-validation-close"
                       ng-show="resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine && resetPasswordForm.confirmPassword.$error.pwdMatch"
                       data-tooltip-placement="bottom">
                    </i>

                    <p ng-show="resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine && resetPasswordForm.confirmPassword.$error.pwdMatch">
                        <span class="modal-error" translate="ERROR_MESSAGES.PASSWORD_NOT_MATCH"></span>
                    </p>

                </div>
                
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary btn-lg btn-block"
                            ng-disabled="!resetPasswordForm.password.$valid || !resetPasswordForm.email.$valid"
                            translate="MESSAGES.SUBMIT">
                    </button>
                </div>
                <p ng-show="genericError" >
                    <span class="modal-error" translate="ERROR_MESSAGES.GENERIC"></span>
                </p>

                <p ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine ||
                            resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine">
                    <span class="modal-error" translate="ERROR_MESSAGES.GENERIC"></span></p>
            </form>
        </div>
    </div>
</div>
