<div class="row message-container page-inner-container">
    <img src="/xsgz/assets/images/brand-2.png" height="26" style="margin-bottom: 5px;">
    <p translate="MESSAGES.TABLE_MESSAGE_LINE_1"></p>
    <p translate="MESSAGES.TABLE_MESSAGE_LINE_2"></p>
    <p translate="MESSAGES.TABLE_MESSAGE_LINE_3"></p>
    <p translate="MESSAGES.TABLE_MESSAGE_LINE_4"></p>
    <p translate="MESSAGES.TABLE_MESSAGE_LINE_5"></p>
    <p translate="MESSAGES.TABLE_MESSAGE_LINE_6"></p>
    <p translate="MESSAGES.TABLE_MESSAGE_LINE_7"></p>
    <p translate="MESSAGES.TABLE_MESSAGE_LINE_8"></p>
    <p translate="MESSAGES.TABLE_MESSAGE_LINE_9"></p>
    <div class="xsgz-bottom-icon-container"><img class="xsgz-bottom-icon" src="/xsgz/assets/images/brand-1.jpg"></div>
</div>