<div class="scroll-container">
    <div class="page-form">
        <image src="/xsgz/assets/images/angular.png" />
        <h1 class="font-ht" translate="MESSAGES.FORGOT_PASSWORD_UPPER"></h1>
        <form class="form" name="forgotForm" ng-submit="send(forgotForm.$valid)" novalidate>
            <div class="form-group">
                <input type="email"
                       class="form-control input-lg"
                       ng-attr-placeholder="{{phrases['MESSAGES.EMAIL_PLACEHOLDER']}}"
                       name="email"
                       ng-pattern="/^[a-z0-9._-]+@[a-z0-9._-]+\.[a-z]{2,4}$/i"
                       required
                       ng-model="user.email"
                       ng-change="onChanged()"
                        >

                <i class="fa fa_ie fa-check success-validation-check"
                   ng-show="forgotForm.$valid && !forgotForm.$pristine"></i>
                <i class="fa fa_ie fa-times error-validation-close"
                   ng-show="forgotForm.$invalid && !forgotForm.$pristine">
                </i>

                <p ng-show="form1.$invalid && !form1.email.$pristine">
                    <span class="modal-error" translate="ERROR_MESSAGES.EMAIL_FORMAT_ERROR"></span>
                </p>

            </div>
            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary btn-lg btn-block font-ht"
                        ng-disabled="!forgotForm.email.$valid"
                        translate="MESSAGES.SEND">
                </button>
            </div>
            <p ng-show="genericError" >
                <span class="modal-error" translate="ERROR_MESSAGES.GENERIC"></span>
            </p>

            <p ng-show="forgotForm.email.$invalid && !forgotForm.email.$pristine ||
                        forgotForm.password.$invalid && !forgotForm.password.$pristine">
                <span class="modal-error" translate="ERROR_MESSAGES.GENERIC"></span></p>
        </form>
    </div>
</div>
