<div class="header-bar">
    <img src="/xsgz/assets/images/brand.png" height="50" />

    <ul class="header-menu">
        <li ng-repeat="(key, value) in headerMenuItems"
            key="{{key}}"
            value="{{value}}"
            ng-hide="actionIndex === key">
            <a ng-click="onActionItemClicked(key)" class="pointer" key="{{key}}">{{value}}</a>
            <span ng-hide="key === pageMessage.length - 1">&nbsp;|&nbsp;</span>
        </li>
    </ul>

    <div class="btn-group drop-down-more-menu" dropdown keyboard-nav>
        <button type="button" class="btn btn-danger" dropdown-toggle>
            <i class="fa fa-th"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right right-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem" ng-repeat="(key, value) in headerMenuItems" ng-hide="actionIndex === key" ><a ng-click="onActionItemClicked(key)" key="{{key}}" class="pointer">{{value}}</a></li>
        </ul>
    </div>
</div>