<div class="scroll-container">
    <div class="home-body container-padding" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div class="project-title"><h1 class="font-ht" translate="MESSAGES.APP_NAME"></h1></div>
        <div class="home-description">
            <p translate="MESSAGES.APP_DESCRIPTION_1"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_2"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_3"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_4"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_5"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_6"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_7"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_8"></p>
            <p translate="MESSAGES.APP_DESCRIPTION_9"></p>
        </div>
    </div>
</div>